<% stylesheet_link_tag "recommendationStyle" %>
<% javascript_include_tag "recommendation" %>
<section id="sixBookSection">
	<div class="theTitle">sss</div>
	<div class="separatorLine"></div>
	<div id="sixBooks">
		<%= render "layout/itemPreview"%>
		<%= render "layout/itemPreview"%>
		<%= render "layout/itemPreview"%>
		<%= render "layout/itemPreview"%>
		<%= render "layout/itemPreview"%>
		<%= render "layout/itemPreview"%>
	</div>
</section>